<mat-toolbar color="primary">
  <mat-toolbar-row style="background:#612F74">
    <span class="title-center">Ferramenta de manipulação para grafos dinâmicos</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="painel">
  <mat-button-toggle-group #algoritmo="matButtonToggleGroup" value="1">
    <mat-button-toggle value="1">Reconhecimento</mat-button-toggle>
    <mat-button-toggle value="2">Geração</mat-button-toggle>
  </mat-button-toggle-group>

  <div [hidden]="algoritmo.value==2" [formGroup]="classForm">
    <div layout-align='center center' layout='column'>
        <div style="margin-left:10px">Classe de grafos</div>
        <mat-radio-group formControlName="default">
          <mat-radio-button value="1" style="margin:10px">Cordal</mat-radio-button>
          <mat-radio-button value="2" style="margin-right: 50px">Bloco</mat-radio-button>
        </mat-radio-group>
     </div>
  </div>
  <div [hidden]="algoritmo.value==2" [formGroup]="representationForm">
    <div layout-align='center center' layout='column'>
        <div style="margin-left:10px">Tipo de representação</div>
          <mat-radio-group formControlName="default">
            <mat-radio-button value="1" style="margin:10px">Lista</mat-radio-button>
            <mat-radio-button value="2">Matriz</mat-radio-button>
          </mat-radio-group>    
     </div>
  </div>

  <div [hidden]="algoritmo.value==1">
    <form class="example-container" [formGroup]="options">
      <mat-form-field>
        <input matInput type="number" placeholder="Número de vértices" formControlName="n" min="1">
        <mat-error *ngIf="options.get('n')?.invalid">Valor deve ser maior que 1</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div [hidden]="algoritmo.value==1" [formGroup]="typeForm">
    <div layout-align='center center' layout='column'>
      <div style="margin-left:10px">Tipo de algoritmo</div>
        <mat-radio-group formControlName="default">
          <mat-radio-button value="1" style="margin:10px">Estático</mat-radio-button>
          <mat-radio-button value="2">Dinâmico</mat-radio-button>
        </mat-radio-group>    
    </div>
  </div>
</div>

<div class="painel">
  <button mat-raised-button (click)="go(algoritmo.value, listaInput, matrizInput)">Go</button>
</div>

<form class="painel">
  <mat-form-field class="example-full-width" style="margin-left:200px; margin-right:200px">
    <textarea matInput #listaInput placeholder="Lista de Adjacência" matTextareaAutosize></textarea>
  </mat-form-field>   
  
  <mat-form-field class="example-full-width" style="margin-left:200px; margin-right:200px">
    <textarea matInput #matrizInput placeholder="Matriz de Adjacência" matTextareaAutosize></textarea>
  </mat-form-field>
</form>


<form class="painel">
  <mat-form-field class="example-full-width" style="margin-left:200px; margin-right:200px">
    <textarea matInput [disabled]="true" placeholder="Exemplo de Lista de Adjacência" [value]="lista" style="height:80px"></textarea>
  </mat-form-field>   
  
  <mat-form-field class="example-full-width" style="margin-left:200px; margin-right:200px">
    <textarea matInput [disabled]="true" placeholder="Exemplo de Matriz de Adjacência" [value]="matriz" style="height:80px"></textarea>
  </mat-form-field>
</form>