<mat-toolbar color="primary">
  <mat-toolbar-row style="background:#612F74">
    <span class="title-center">Ferramenta de visualização para grafos dinâmicos</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="painel">
  <mat-button-toggle-group #algoritmo="matButtonToggleGroup" value="1">
    <mat-button-toggle value="1">Reconhecimento</mat-button-toggle>
    <mat-button-toggle value="2">Geração</mat-button-toggle>
  </mat-button-toggle-group>

  <div [hidden]="algoritmo.value==2">
    <mat-radio-group>
      <mat-radio-button value="1" style="margin:10px">Cordal</mat-radio-button>
      <mat-radio-button value="2">Bloco</mat-radio-button>
    </mat-radio-group>
  </div>
  <div [hidden]="algoritmo.value==2">
    <mat-radio-group>
      <mat-radio-button value="1" style="margin:10px">Lista</mat-radio-button>
      <mat-radio-button value="2">Matriz</mat-radio-button>
    </mat-radio-group>
  </div>

  <div [hidden]="algoritmo.value==1">
    <form class="example-container" [formGroup]="options">
      <mat-form-field>
        <input matInput type="number" placeholder="Número de vértices" formControlName="n" min="1" max="30">
        <mat-error *ngIf="options.get('n')?.invalid">Valor deve ser de 1 a 30</mat-error>
      </mat-form-field>
    </form>
  </div>
  <div [hidden]="algoritmo.value==1">
    <mat-radio-group>
      <mat-radio-button value="1" style="margin:10px">Estático</mat-radio-button>
      <mat-radio-button value="2">Dinâmico</mat-radio-button>
    </mat-radio-group>
  </div>
</div>

<div class="painel">
  <button mat-raised-button>Go</button>
</div>

<form class="painel">
  <mat-form-field class="example-full-width" style="margin-left:200px; margin-right:200px">
    <textarea matInput placeholder="Lista de Adjacência" [value]="lista" matTextareaAutosize></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="margin-left:200px; margin-right:200px">
    <textarea matInput placeholder="Matriz de Adjacência" [value]="matriz" matTextareaAutosize></textarea>
  </mat-form-field>
</form>
